<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>{{ .title }}</title>
    <link rel="canonical" href="{{ .canonical }}"/>
    <meta name="applicable-device" content="pc,mobile"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" content="{{ .keywords }}"/>
    <meta name="description" content="{{ .description }}"/>
    <meta name="renderer" content="webkit"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon"/>
    <link href="/static/style/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/style/tool.css" rel="stylesheet" type="text/css"/>
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .top-tip{
            color: #d20f39;
        }
    </style>
</head>
<body>
{{ template "header.html" . }}
<div class="container">
    <div class="row">
        <p class="col-md-12 top-tip">本站所有工具均可离线运行</p>
        <div class="col-md-12 footer-nav">
            <ul class="list-inline list-inline-bg">
                <h3><span>生活工具</span></h3>
                <li><span></span><a href="/shuiyin.html">图片加水印</a></li>
                <li><span></span><a href="/qrcode.html">二维码生成</a></li>
            </ul>
            <ul class="list-inline list-inline-bg">
                <h3><span>JSON工具</span></h3>
                <li><span></span><a href="/json.html">Json格式化</a></li>
                <li><span></span><a href="/jsonudview.html"> Json格式化(上下)</a></li>
                <li><span></span><a href="/jsonlrview.html">Json格式化(左右)</a></li>
                <li><span></span><a href="/jsonzip.html">Json在线压缩转义</a></li>
                <li><span></span><a href="/json2cs.html">Json生成C#实体类</a></li>
                <li><span></span><a href="/json2java.html"> Json生成Java实体类</a></li>
                <li><span></span><a href="/json2go.html">Json生成Go结构体</a></li>
                <li><span></span><a href="/sql2java.html">SQL转Java实体类</a></li>
                <li><span></span><a href="/json2xml.html">XML和Json在线互转</a></li>
                <li><span></span><a href="/excel2json.html">Excel/CSV转Json格式</a></li>
                <li><span></span><a href="/json2excel.html">Json转Excel/CSV格式</a></li>
                <li><span></span><a href="/json2get.html">JSON和GET参数互转</a></li>
                <li><span></span><a href="/json2yaml.html">JSON转YAML</a></li>
            </ul>
            <ul class="list-inline list-inline-bg">
                <h3><span>格式化转换</span></h3>
                <li><span></span><a href="/formathtml.html">HTML格式化/压缩</a></li>
                <li><span></span><a href="/formatcss.html" style="color:#f30"> CSS格式化/压缩</a></li>
                <li><span></span><a href="/formatjs.html">JS格式化/压缩</a></li>
                <li><span></span><a href="/endecodejs.html">JS加密/解密</a></li>
                <li><span></span><a href="/confundirjs.html"> JS代码混合加密</a></li>
                <li><span></span><a href="/formatsql.html">SQL压缩/格式化</a></li>
                <li><span></span><a href="/formatphp.html">PHP代码格式化工具</a></li>
                <li><span></span><a href="/formatxml.html">XML压缩/格式化 </a></li>
                <li><span></span><a href="/formatcs.html">C#代码格式化工具</a></li>
                <li><span></span><a href="/formatjava.html">JAVA代码格式化工具</a></li>
                <li><span></span><a href="/formatcsql.html">SQL代码格式化工具</a></li>
                <li><span></span><a href="/formatpy.html">Python代码格式化工具</a></li>
                <li><span></span><a href="/formatruby.html">Ruby代码格式化工具</a></li>
                <li><span></span><a href="/formatc.html">C语言代码格式化工具</a></li>
                <li><span></span><a href="/formatcpp.html">C++代码格式化工具</a></li>
                <li><span></span><a href="/formatperl.html">Perl代码格式化工具</a></li>
                <li><span></span><a href="/formatvbs.html">VBScript格式化工具</a></li>
                <li><span></span><a href="/html2js.html"> Html转JS</a></li>
                <li><span></span><a href="/htmloutjs.html" style="color:#f30">Html/JS互转</a></li>
                <li><span></span><a href="/htmlescape.html"> Html转义工具</a></li>
                <li><span></span><a href="/html2cj.html"> Html转C#/JSP</a></li>
                <li><span></span><a href="/html2php.html">Html转PHP代码</a></li>
                <li><span></span><a href="/html2all.html">Html转ASP/Perl</a></li>
                <li><span></span><a href="/htmlfromcsv.html">Excel转HTML表格</a></li>
                <li><span></span><a href="/htmltable.html">Html表格生成器</a></li>
                <li><span></span><a href="/html2ubb.html">HTML/UBB互转</a></li>
                <li><span></span><a href="/htmlmarkdown.html">HTML/MarkDown互转</a></li>
                <li><span></span><a href="/regex.html" style="color:green">正则表达式测试工具</a></li>
                <li><span></span><a href="/regexcode.html">正则生成代码</a></li>
                <li><span></span><a href="/formatfilter.html">Html过滤工具</a></li>
                <li><span></span><a href="/regexdso.html">常用正则表达式</a></li>
                <li><span></span><a href="/regexsucha.html">正则表达式语法速查</a></li>
                <li><span></span><a href="/runjs.html">运行Js/html/css</a></li>
                <li><span></span><a href="/xpath.html">Xpath工具</a></li>
            </ul>

            <ul class="list-inline list-inline-bg">
                <h3><span>加解密编码</span></h3>

                <li><span></span><a href="/urlcode.html">URL网址16进制加密</a></li>
                <li><span></span><a href="/urlthunder.html">迅雷旋风URL加解密</a></li>
                <li><span></span><a href="/base64.html"> Base64加密/解密</a></li>
                <li><span></span><a href="/escape.html">Escape加密/解密</a></li>
                <li><span></span><a href="/deencrypt.html">对称加密/解密</a></li>
                <li><span></span><a href="/aesencrypt.html">AES加密/解密</a></li>
                <li><span></span><a href="/desencrypt.html">DES加密/解密</a></li>
                <li><span></span><a href="/rc4encrypt.html">RC4加密/解密</a></li>
                <li><span></span><a href="/rabbitencrypt.html">Rabbit加密/解密</a></li>
                <li><span></span><a href="/tripledes.html">TripleDES加密/解密</a></li>
                <li><span></span><a href="/shaencrypt.html">SHA/SHA256加密</a></li>
                <li><span></span><a href="/allencrypt.html">散列/哈希加密大全</a></li>
                <li><span></span><a href="/morse.html">摩尔斯电码加解密</a></li>
                <li><span></span><a href="/password.html">密码生成器</a></li>
                <li><span></span><a href="/uuid.html">UUID在线生成</a></li>

                <li><span></span><a href="/htpasswd.html">htpasswd生成</a></li>
                <li><span></span><a href="/barcode.html">条形码生成器</a></li>
                <li><span></span><a href="/ip2long.html">IP/数字地址转换</a></li>
                <li><span></span><a href="/img2base64.html" style="color:#f00"> 图片转Base64</a></li>
                <li><span></span><a href="/utf8.html">UTF-8转GBK</a></li>
                <li><span></span><a href="/unicode.html">Unicode/ASCII转换</a></li>
                <li><span></span><a href="/ascii.html">ASCII编码/解码</a></li>
                <li><span></span><a href="/urlencode.html">URL编码/解码</a></li>
                <li><span></span><a href="/navtiveunicode.html">Native/Unicode编码转换</a></li>
                <li><span></span><a href="/keyboardcode.html">KeyCode键盘按键码</a></li>
                <li><span></span><a href="/androidkeycode.html">Android按键码</a></li>
                <li><span></span><a href="/keyboardtest.html">键盘测试工具</a></li>
            </ul>

            <ul class="list-inline list-inline-bg">
                <h3><span>文本数字</span></h3>
                <li><span></span><a href="/editor.html">Html在线编辑器</a></li>
                <li><span></span><a href="/autoformat.html" style="color:#f30"> 文章自动排版</a></li>

                <li><span></span><a href="/jianfan.html">简繁字体转换</a></li>
                <li><span></span><a href="/pinyin.html">汉字转为拼音</a></li>
                <li><span></span><a href="/huoxingwen.html">火星文转换器</a></li>
                <li><span></span><a href="/txtreplace.html">文本内容替换</a></li>
                <li><span></span><a href="/textdiff.html"> 文本内容对比</a></li>
                <li><span></span><a href="/txtcount.html">在线统计字数工具</a></li>
                <li><span></span><a href="/shupai.html">文字竖排工具</a></li>
                <li><span></span><a href="/textflip.html">文字翻转工具</a></li>
                <li><span></span><a href="/quchong.html">内容去重工具</a></li>
                <li><span></span><a href="/wenzitexiao.html">文字特效工具</a></li>
                <li><span></span><a href="/zipstringtext.html">字符串文本压缩工具</a></li>
                <li><span></span><a href="/camelcase.html" style="color:blue">驼峰与下划线互转</a></li>
                <li><span></span><a href="/quanbaojiao.html">全角半角转换</a></li>
                <li><span></span><a href="/enlower.html">英文字母大小写转换</a></li>
                <li><span></span><a href="/rmbdaxie.html">人民币大写转换工具</a></li>
                <li><span></span><a href="/random.html">随机数生成器</a></li>
                <li><span></span><a href="/unixtime.html"> Unix时间戳在线转换</a></li>
                <li><span></span><a href="/hexconvert.html">常用进制转换工具</a></li>
                <li><span></span><a href="/hexrgb.html"> RGB颜色在线转换</a></li>
            </ul>
            <ul class="list-inline list-inline-bg">
                <h3><span>网络</span></h3>

                <li><span></span><a href="/websocket.html">Websocket测试</a></li>
                <li><span></span><a href="/browserinfo.html">获取浏览器信息</a></li>
                <li><span></span><a href="/dns.html">公共DNS</a></li>
                <li><span></span><a href="/alldns.html">各地区公共DNS</a></li>
                <li><span></span><a href="/dnsdx.html">各地电信DNS</a></li>
                <li><span></span><a href="/dnslt.html">各地联通DNS</a></li>
                <li><span></span><a href="/dnsyd.html">各地移动DNS</a></li>
                <li><span></span><a href="/dnstt.html">各地铁通DNS</a></li>
                <li><span></span><a href="/dnsedu.html">教育网DNS</a></li>
                <li><span></span><a href="/dnsusa.html">美国DNS</a></li>
            </ul>

            <ul class="list-inline list-inline-bg">
                <h3><span>站长</span></h3>

                <li><span></span><a href="/htaccess2nginx.html" style="color:green">htaccess转nginx</a></li>

                <li><span></span><a href="/px2rem.html">rem与px转换工具</a></li>



                <li><span></span><a href="/tiaoseban.html">在线调色板</a></li>






                            </ul>
            <ul class="list-inline list-inline-bg">
                <h3><span>计算</span></h3>
                <li><span></span><a href="/nianlvli.html">利率计算器在线</a></li>
                <li><span></span><a href="/subnetmask.html">子网掩码计算器</a></li>
                <li><span></span><a href="/calculator.html">在线科学计算器</a></li>
                <li><span></span><a href="/calcarea.html">面积换算器</a></li>
                <li><span></span><a href="/calcheat.html">热量换算器</a></li>
                <li><span></span><a href="/calcvolume.html">体积换算器</a></li>
                <li><span></span><a href="/calcpressure.html">压力换算器</a></li>
                <li><span></span><a href="/calcpower.html">功率换算器</a></li>
                <li><span></span><a href="/calclength.html">长度换算器</a></li>
                <li><span></span><a href="/calctemperature.html">温度换算器</a></li>
                <li><span></span><a href="/calctime.html">时间换算器</a></li>
                <li><span></span><a href="/calcspeed.html">速度换算器</a></li>
                <li><span></span><a href="/calcangle.html">角度换算器</a></li>
                <li><span></span><a href="/calcdata.html">数据大小换算器</a></li>
                <li><span></span><a href="/calcthickness.html">密度换算器</a></li>
                <li><span></span><a href="/calcforce.html">力换算器</a></li>
            </ul>

            <ul class="list-inline list-inline-bg">
                <h3><span>其他</span></h3>
                <li><span></span><a href="/tuya.html">在线涂鸦画板</a></li>
                <li><span></span><a href="/shizhong.html">在线时钟</a></li>
                <li><span></span><a href="/worldtime.html">世界各地时间</a></li>
                <li><span></span><a href="/capital.html">世界各国首都查询</a></li>
                <li><span></span><a href="/currency.html">世界各地货币查询</a></li>
                <li><span></span><a href="/areacode.html">世界各国区号时差查询</a></li>
                <li><span></span><a href="/jieri.html">世界节日查询</a></li>
                <li><span></span><a href="/shaoshuminzu.html">全国少数民族分布查询</a></li>
                <li><span></span><a href="/chaodai.html">中国历史朝代时间查询表</a></li>
                <li><span></span><a href="/tesufuhao.html">特殊符号大全</a></li>

            </ul>

            <ul class="list-inline list-inline-bg">
                <h3><span>对照列表</span></h3>
                <li><span></span><a href="/useragent.html">常用User-Agent</a></li>
                <li><span></span><a href="/contenttype.html">Content-Type对照表</a></li>
                <li><span></span><a href="/requestmethod.html">Request请求大全</a></li>
                <li><span></span><a href="/httpheader.html">HTTP请求头大全</a></li>
                <li><span></span><a href="/pagecode.html"> HTTP状态码</a></li>
                <li><span></span><a href="/asciicode.html">ASCII对照表</a></li>
                <li><span></span><a href="/htmlescapechar.html">HTML特殊字符转义</a></li>
                <li><span></span><a href="/ports.html">常见端口大全</a></li>
                <li><span></span><a href="/bootstrapicon.html">Bootstrap字体图标</a></li>
                <li><span></span><a href="/androidmanifest.html"> Android Manifest权限大全</a></li>
                <li><span></span><a href="/linuxcmd.html">Linux常用命令大全</a></li>
            </ul>

        </div>
    </div>
</div>
<script src="/static/script/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="/static/script/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/script/tool.js" type="text/javascript"></script>
{{ template "link.html" . }}
{{ template "footer.html" . }}

</body>
</html>